/* variable */
/* Typography */
.h2,
.second .wrapper .advantages__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 49px;
  font-family: "Abril Fatface", cursive;
  color: #000a24;
}
.h3,
.second .wrapper .aside__title {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 54px;
  color: #000a24;
}
.h4,
.second .wrapper .advantages__subtitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.p,
.header .wrapper .contacts__number,
.second .wrapper .aside__item,
.second .wrapper .advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Montserrat Alternates", sans-serif;
}
.wrapper {
  max-width: 1275px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 650px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header .wrapper {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .wrapper .line__1 {
  width: 785px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .wrapper .line__2 {
  display: flex;
}
.header .wrapper .navigation__list {
  display: flex;
  justify-content: space-between;
  width: 351px;
}
.header .wrapper .navigation__item {
  display: inline-block;
}
.header .wrapper .contacts {
  display: flex;
  align-items: center;
  max-width: 236px;
  margin-right: 40px;
}
.header .wrapper .contacts__phone {
  position: relative;
  max-width: 171px;
  padding: 2px 7px 3px 61px;
  background-color: #fbbe5b;
  border-radius: 5px;
}
.header .wrapper .contacts__phone::before {
  content: url(/images/Stroke-1.png);
  position: absolute;
  left: 10px;
  top: 8px;
}
.header .wrapper .contacts__phone::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 16px;
  height: 1px;
  transform: rotate(90deg);
  left: 30px;
  top: 14px;
}
.header .wrapper .contacts__number {
  color: #001242;
}
.header .wrapper .contacts__viber {
  margin-right: 10px;
  margin-left: 6px;
}
.city {
  position: relative;
  border: 2px solid #fbbe5b;
  width: 228px;
  border-radius: 5px;
  /* Arrow style */
  /* Arrow animation up-down */
}
.city__list {
  list-style: none;
}
.city__list::before {
  content: url(/images/Location.png);
  position: absolute;
  left: 15px;
}
.city__item-init {
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  padding: 5px 51px 5px 87px;
}
.city__item {
  cursor: pointer;
}
.city__item-hide {
  display: none;
}
.city::before,
.city::after {
  content: "";
  background-color: black;
  position: absolute;
  width: 10px;
  height: 2px;
  cursor: pointer;
  top: 13px;
  right: 20px;
}
.city::before {
  transform: rotate(-50deg);
  right: 15px;
  transition: all 0.2s ease-out;
}
.city::after {
  transform: rotate(50deg);
  transition: all 0.2s ease-out;
}
.city.arrow_anim::before {
  transform: rotate(50deg);
  transition: all 0.2s ease-out;
}
.city.arrow_anim::after {
  transform: rotate(-50deg);
  transition: all 0.2s ease-out;
}
.lang {
  box-sizing: content-box;
  position: relative;
  border: 2px solid #fbbe5b;
  padding: 6px 5px;
  border-radius: 50%;
  /* Arrow style */
  /* Arrow animation up-down */
}
.lang__list {
  list-style: none;
}
.lang__item-init {
  cursor: pointer;
}
.lang__item {
  cursor: pointer;
}
.lang__item-hide {
  display: none;
}
.lang::before,
.lang::after {
  content: "";
  background-color: black;
  position: absolute;
  width: 10px;
  height: 2px;
  cursor: pointer;
  top: 15px;
  right: -20px;
}
.lang::before {
  transform: rotate(-50deg);
  right: -25px;
  transition: all 0.2s ease-out;
}
.lang::after {
  transform: rotate(50deg);
  transition: all 0.2s ease-out;
}
.lang.arrow_anim::before {
  transform: rotate(50deg);
  transition: all 0.2s ease-out;
}
.lang.arrow_anim::after {
  transform: rotate(-50deg);
  transition: all 0.2s ease-out;
}
.main {
  background-image: url(/images/mainbg.png);
  background-size: cover;
}
.main .wrapper {
  position: relative;
}
.main .wrapper .main__title {
  padding-top: 95px;
  position: relative;
  z-index: 2;
}
.main .wrapper .main__text {
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 185px;
  max-width: 455px;
}
.main .wrapper .main__text::before {
  content: url(/images/main-circle.png);
  position: absolute;
  top: -10px;
  left: -40px;
}
.main .wrapper .main__text::after {
  content: url(/images/main-circle2.png);
  position: absolute;
  top: -45px;
  right: 50%;
}
.main .wrapper .main__text-italic {
  font-size: 18px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  line-height: 23px;
}
.main .wrapper .main__text-bold {
  font-size: 18px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: italic;
  line-height: 23px;
}
.main .wrapper .main__rectangle {
  position: absolute;
  z-index: 1;
  left: 37%;
  top: 10%;
}
.main .wrapper .main-swiper {
  max-width: 820px;
  margin: 0 auto;
}
.main .wrapper .slider__buttons {
  position: absolute;
  right: 20px;
}
.main .wrapper .slider__buttons .swiper-button-next::after {
  content: url(/images/next.png);
  position: absolute;
  right: 12px;
  top: 80px;
}
.main .wrapper .slider__buttons .swiper-button-prev::after {
  content: url(/images/prev.png);
  position: absolute;
  right: 58px;
  top: 190px;
}
.main .wrapper .main__bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.main .wrapper .main__bottom .text__button {
  display: flex;
  margin-left: 22%;
}
.main .wrapper .main__bottom .bottom__text {
  margin-top: 45px;
  margin-right: -40px;
}
.main .wrapper .main__bottom .bottom__button {
  margin-top: -40px;
}
.second {
  position: relative;
}
.second .wrapper {
  display: flex;
  position: relative;
}
.second .wrapper .aside {
  background-image: url(/images/second-rectangle.svg);
  background-repeat: no-repeat;
  padding-right: 95px;
}
.second .wrapper .aside__title {
  padding: 50px 44px;
  max-width: 447px;
  font-size: 36px;
  color: #001242;
  text-transform: uppercase;
}
.second .wrapper .aside__title-green {
  color: rgba(5, 95, 14, 0.74);
}
.second .wrapper .aside__item {
  padding-left: 110px;
  padding-bottom: 20px;
  position: relative;
}
.second .wrapper .aside__item::before {
  content: "";
  background-color: white;
  width: 78px;
  height: 2px;
  position: absolute;
  top: 12px;
  left: 0;
}
.second .wrapper .aside__item::after {
  content: url(/images/arrow.svg);
  position: absolute;
  top: 2px;
  left: 85px;
}
.second .wrapper .aside__list {
  padding-bottom: 356px;
}
.second .wrapper .advantages {
  padding-top: 40px;
  padding-left: 40px;
}
.second .wrapper .advantages__title {
  color: #001242;
  padding-bottom: 15px;
}
.second .wrapper .advantages__subtitle {
  max-width: 552px;
  color: #666666;
}
.second .wrapper .advantages__list {
  padding-top: 40px;
  padding-left: 120px;
}
.second .wrapper .advantages__item {
  padding-bottom: 10px;
  position: relative;
}
.second .wrapper .advantages__item-1::before {
  content: url(/images/advantage-1.png);
  position: absolute;
  left: -60px;
}
.second .wrapper .advantages__item-2::before {
  content: url(/images/advantage-2.png);
  position: absolute;
  left: -60px;
}
.second .wrapper .advantages__item-3::before {
  content: url(/images/advantage-3.png);
  position: absolute;
  left: -60px;
}
.second .wrapper .advantages__item-4::before {
  content: url(/images/advantage-4.png);
  position: absolute;
  left: -60px;
}
.second .wrapper .advantages__item-5::before {
  content: url(/images/advantage-5.png);
  position: absolute;
  left: -60px;
}
.second .wrapper .car {
  position: absolute;
  bottom: -40px;
  left: 8%;
  z-index: 2;
}
.second .tyres-2 {
  position: absolute;
  right: 0;
  top: 20%;
}
.screen3 {
  position: relative;
  margin-top: 57px;
  background-image: url(/images/third-sectionbg.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.screen3__info {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
.screen3__text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: white;
  max-width: 340px;
}
.screen3__text-white {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  color: white;
}
.screen3 .bottom__text {
  padding-top: 70vh;
}
.screen3 .screen3__btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.screen3 .city-layout {
  position: absolute;
  max-width: 1000px;
  right: 0;
  bottom: 0px;
}
/* social icons */
.social-icons {
  width: 171px;
  margin-top: -80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
